<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML API</title>
     <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css">
    </head>
   
<body>
        <form action="{{url_for('pred')}}" method="POST">
            <h1>Crop Recommendation System</h1>
            <div class="input_box">
                <input type="textbox" name="Nitrogen" placeholder="Nitrogen"
                required>
            </div>
            <div class="input_box">
                <input type="textbox" name="Phosphorus" placeholder="Phosphorus"
                required>
            </div>
            <div class="input_box">
                <input type="textbox" name="Potassium" placeholder="Potassium"
                required>
            </div>
            <div class="input_box">
                <input type="textbox" name="Temperature" placeholder="Temperature"
                required>
            </div>
            <div class="input_box">
                <input type="textbox" name="Humidity" placeholder="Humidity"
                required>
            </div>
            <div class="input_box">
                <input type="textbox" name="Ph value" placeholder="Ph value"
                required>
            </div>
            <div class="input_box">
                <input type="textbox" name="Rainfall" placeholder="Rainfall"
                required>
            </div>
            
            <button type="submit">Recommend</button>
        </form>

    <h1 id="predi">
        {{Prediction_Text}}
    </h1>
    
    </body>
</html>
